{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<head>
    <meta charset="utf8">
    <title>Stats Page</title>
    <link rel="stylesheet" type="text/css" link href="{% static 'css/statspage.css' %}"/>
</head>
<div class="asfasdf">
    <div class="trol"><article id="statistic" align="center"><h4><strong>Statistic</strong></h4></article>
        <div class="container-fluid">
            <div class="row">
                <h1><img src="https://heatherchristenaschmidt.files.wordpress.com/2011/09/facebook_no_profile_pic2-jpg.gif" alt = "photo"/> <strong>{{ nama }}</strong></h1>
            </div>
            <div class="row">
                <div class="col s6"><p><strong>Friends</strong>&emsp;{{ friend_count }} People</p></div>
                <div class="col s6"><p><strong>Feed</strong>&emsp;{{ posts_count }} Post</p></div>
            </div>
            <div class="card-panel blue">
                {% if latest_status %}
                <div class="col s12" id="status" align="center">
                    <p><img src="https://heatherchristenaschmidt.files.wordpress.com/2011/09/facebook_no_profile_pic2-jpg.gif" alt = "photo" height="50" style="border-radius:50%;"/> <strong>{{ nama }}</strong></p>
                    <div class="card-panel blue darken-2">
                    <p>{{ latest_status.new_status }}</p>
                    <br>
                    <p><i>{{ latest_status.created_date }}</i></p>
                </div>
                </div>
                    {% else %}
                    <div class="alert alert-danger text-center">
                        <strong>Oops!</strong> There's no status yet.
                    </div>
                    {% endif %}
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}