<!-- templates/lab_5/partials/footer.html -->
<!-- TODO, CREATE THIS FILE AND ADD copyright symbol -->
<br>
<br>
<br>
<br>
<br>
<article align="center"><p >Made with Love by Volyando & friends</p></article>
