



{% load staticfiles %}
{% load static %}
<nav class="blue">
  <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Ling-In</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="{% url 'Status Page:index' %}"><i class="material-icons">chat_bubble_outline</i></a></li>
        <li><a href="{% url 'Profile Page:index' %}"><i class="material-icons">contacts</i></a></li>
        <li><a href="{% url 'Friends Page:index' %}"><i class="material-icons">library_add</i></a></li>
        <li><a href="{% url 'Stats Page:index' %}"><i class="material-icons">equalizer</i></a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="{% url 'Status Page:index' %}"><i class="material-icons">chat_bubble_outline</i>Status</a></li>
      <li><a href="{% url 'Profile Page:index' %}"><i class="material-icons">contacts</i>Profile</a></li>
      <li><a href="{% url 'Friends Page:index' %}"><i class="material-icons">library_add</i>Friends</a></li>
      <li><a href="{% url 'Stats Page:index' %}"><i class="material-icons">equalizer</i>Stats</a></li>
    </ul>

  </div>
</nav>
