{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/statuspage.css' %}"/>
    <h1 class="main-title">UPDATE STATUS</h1>
</head>
<section name="form" id="form">
    <div class="container">
    <form id="inputstatus" method="POST" action="{% url 'Status Page:add_status' %}">
        {% csrf_token %}
        {{ status_form }}
        <br>
        <button type="submit" class="btn btn-default">Post</button>
    </form>
    </div>
</section>
<section name="my-status" id="my-status">
    <div class="container">
        <div class="flex" style="flex-flow: column-reverse wrap">
            {% if status %}
                {% for data in status %}
                    <div class="flex-item">
                        <div class="status">
                            <div class="user-detail">
                                <p> <img  id = 'image' align = 'middle' src="https://heatherchristenaschmidt.files.wordpress.com/2011/09/facebook_no_profile_pic2-jpg.gif" alt="Profile" height="50"> John Doe </p>
                            <div class="status-content">
                                {{data.new_status}}
                            </div>
                            <div class="status-date">
                                {{data.created_date}}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
            <div class="alert alert-danger text-center">
                <strong>Oops!</strong> There's no status yet.
            </div>
            {% endif %}
        </div>
    </div>
    </section>

</html>
{% endblock %}