{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <head>
        <meta charset="utf-8">
        <title>Profile Page</title>
        <link rel="stylesheet" type="text/css" link href="{% static 'css/profilepage.css' %}"/>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.css' %}"  media="screen,projection"/>
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    </head>
        <div class="profile-header" align="center">
            <h2 class="" align="center">
                Profile
            </h2>

        </div>


        <div class="parallax-container">
             <div class="parallax"><img src="https://www.wallpapersguru.com/wp-content/uploads/2015/02/mount-baker-beautiful-scenery-wallpaper.jpg"></div>
             <center><img id="gambar"class = 'circle responsive-img' align = 'center' src="https://heatherchristenaschmidt.files.wordpress.com/2011/09/facebook_no_profile_pic2-jpg.gif" alt="Profile">
             <h3 class = "nama"align="center">John Doe</h3></center>
           </div>

        <div class="table">
            <table align="center" class = "highlight"style="text-align: center" >
            <tr>
                <td class="subject" align ='left'>Nama: </td>
                <td class="value" align =' right'>{{ name }}</td>
            </tr>
            <tr>
                <td class="subject" align ='left'>Tanggal Lahir: </td>
                <td class="value" align =' right'>{{ birthday }}</td>
            </tr>
            <tr>
                <td class="subject" align ='left'>Kelamin: </td>
                <td class="value" align =' right'>{{ sex }}</td>
            </tr>
            <tr>
                <td class="subject" align ='left'>Expertise: </td>
                <td class="value" align =' right'>
                    {% for d in expertise %}
                    <span class="w3-tag w3-small w3-padding-small w3-teal"><li >{{ d }}</li></span>
                {% endfor %}</td>
            </tr>
            <tr>
                <td class="subject" align ='left'>Description:</td>
                <td class="value" align =' right'>{{ description }}</a></td>
            </tr>
            <tr>
                <td class="subject" align ='left'>E-mail: </td>
                <td class="value" align =' right'>{{ email }}</td>
            </tr>
        </table>
        </div>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>

{% endblock %}
