.container-fluid{
	width:80%;
}
#stats{
	width:90%;
	color: red;
	position: relative;
	left: 30px;
	top: 60px;
}
#status{
	margin:auto;
	width:50%;
}
#kodok{
	background-color:darkblue;
}
.asfasdf{
	color:darkblue;
}
body{
	background-color:lightblue;
}
