body{
    background-color: rgb(62, 115, 233)
}

h1{
    color: rgb(248, 246, 250);
    text-align: center;
}
#name{
    color: rgb(245, 250, 245);
    background-color: rgb(23, 193, 238);
    align-self: : center;
}

h3{
    text-align: center;
    padding: 5px;
    border-style: solid;
    border-color: rgb(21, 185, 146);
    width: 10%;
    align: center;


}

#img {
    display: block;
    margin: auto;
    width: 10%;
}

th, td {
    border-bottom: 1px solid #57d0b7;
}

li{
    list-style-type: none;
}

#test {
    margin-top: 25px;
    font-size: 21px;
    text-align: center;

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
