body{
    background-color: rgb(7, 70, 231)
}

h1{
    color: rgb(248, 246, 250);
    text-align: center;
}
#name{
    color: rgb(245, 250, 245);
    background-color: rgb(23, 193, 238);
    align-self: : center;
}



h3{
    text-align: center;
    padding: 5px;
    border-style: solid;
    border-color: rgb(21, 185, 146);
    width: 50%;
    align: center;


}

#img {
    display: block;
    margin: auto;
    width: 10%;
}

.table{
    color: rgb(238, 250, 234);
}
