.flex{
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column-reverse;
<<<<<<< HEAD
}

textarea {
    resize:none
}

#form inputstatus{
    width: 400px;
    margin: 50px auto;
    text-align: center;
    position: relative;
    z-index: 1;
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    position: relative;
  }
=======
}
>>>>>>> 7aad04dbf886286e6ee171510dd43959a803ec0a
