body{
    background-color: rgb(181, 191, 214)
}

textarea {
    resize:none
}

.main-title{
    color: white;
    text-align: left;
    position: relative;
    margin: 10px auto;
}

#form inputstatus{
    width: 1000px;
    margin: 50px auto;
    text-align: center;
    position: relative;
    z-index: 1;
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    position: relative;
  }

.status-content{
    text-decoration-color: white;
}

.status{
    text-align: left;
    background: transparent;
    position: relative;
    z-index: 15;
    margin-bottom: 60px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}

#input-list form > .todo-form-input, #input-list form > .todo-form-textarea{
    padding: 15px;
      border: 1px solid #ccc;
      border-radius: 3px;
      margin-bottom: 10px;
      width: 100%;
      box-sizing: border-box;
      color: #2C3E50;
      font-size: 13px;
}
  